<% layout("./boilerplate.ejs")%>

    <div class="container">

        <h1>Index</h1>
        <ul>
            <% for (let recipe of recipes) { %>
                <li>
                    <a href="/recipes/<%= recipe.slug %>">
                        <%= recipe.name %>
                    </a>
                </li>
                <% } %>
        </ul>
    </div>